div{
  padding-bottom:10px;
}

.main-form{
  background-color:#3C3D37;
  color:#ECDFCC;
  
  max-width:fit-content;
  max-height:750px;
 margin:0 auto;
 padding:40px;
 margin-top:50px;
 margin-bottom:30px;
 border:4px groove #6a6868;
}
body{
  background-color:#1E201E;
  background-image:url("https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/PedroPinhata/php1If5rD.png");
  color:white;
}
h1,p{
  text-align:center;
  
}
p{
margin-top:0;
margin-bottom:10px;
}

.inp{
  width:100%;
  padding:10px;
  background-color:rgb(9, 9, 9);
  color:white;
}

#survey-form,#email-label,#number-label{
  font-family:cursive;
}
textarea{
  height:60px;
}
.stack{
display:block;
}

#title{
  font-size:50px;
  margin-bottom:30px;
  margin-top:10px;
}
select{
  width:100%;
}
#submit{
     display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #cacaca;
    border-color: white;
    min-width: 300px;
}


